<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link href="/style/style.css" rel="stylesheet"/>
  <title>Sasayaki</title>
</head>
<body>
<div id="index">
  <md-dialog-alert
          md-content="Something error happens!"
          md-ok-text="OK"
          ref="error">
  </md-dialog-alert>
  <md-toolbar>
    <md-button class="md-icon-button" @click="toggleSidenav">
      <md-icon>menu</md-icon>
    </md-button>
    <h2 class="md-title" style="flex: 1">Sasayaki</h2>
  </md-toolbar>
  <md-sidenav class="md-left" ref="sidenav">
    <md-toolbar>
      <div class="md-toolbar-container">
        <h3 class="md-title"><md-icon>info_outline</md-icon> Navigation</h3>
      </div>
    </md-toolbar>
    <md-list>
      <md-list-item href="https://yukkurisinai.net">
        <md-icon>face</md-icon>
        <span>Admin</span>
      </md-list-item>
      <md-list-item href="mailto:yukkuri.sinai@gmail.com">
        <md-icon>contact_mail</md-icon>
        <span>Contact</span>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <div class="main-content">
    <md-card>
      <md-card-header>
        <div class="md-title">Sasayaki</div>
        <div class="md-subhead">Simple bulletin board.</div>
      </md-card-header>
      <md-card-content>
        <div v-if="metamask">
          <p v-if="account">You are login as {{account}}.</p>
          <p>You have {{balance}} SSYK.</p>
          <p>To write message, You must possess one or more SSYK.</p>
          <p>To get SSYK, Please read <a target="_blank" href="https://bitcointalk.org/index.php?topic=2450791">Bitcoin Forum Topic</a>.</p>
          <md-input-container>
            <md-input v-model="new_message" placeholder="new message" :disabled="writing"></md-input>
          </md-input-container>
          <md-progress md-indeterminate v-if="writing"></md-progress>
          <md-button class="md-raised md-primary" @click="post" :disabled="!new_message" v-else>post</md-button>
          <h3 v-if="transactions.length">Now processing transactions</h3>
          <p v-for="transaction in transactions"><a target="_blank" :href="'https://etherscan.io/tx/' + transaction">{{transaction}}</a></p>
        </div>
        <div v-else>
          <p>To use Sasayaki, You must enable <a target="_blank" href="https://metamask.io/">MetaMask</a></p>
        </div>
      </md-card-content>
    </md-card>
  </div>
  <div class="main-content" v-for="message in messages">
    <md-card>
      <md-card-header>
        <div class="md-title">by {{message.writer}}</div>
        <div class="md-subhead">{{formatDate(message.timestamp)}}</div>
      </md-card-header>
      <md-card-content>
        <p>{{message.message}}</p>
      </md-card-content>
    </md-card>
  </div>
</div>
<script src="/js/index.bundle.js"></script>
</body>
</html>
